
body {
	background-color: DarkGray;
	font-family: Harrington;
	text-align: center;
}

h1 {
	background-color: DarkOliveGreen;
}

h2 {
	color: DarkOliveGreen;
}

h3 {
	color: DarkSlateGray;
}